<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form th:if="${message} == null" method="post" th:action="@{/form}">
        Name: <input type="text" th:name="name" placeholder="name" /> <p>
        Surname: <input type="text" th:name="surname" placeholder="surname" /> <p>
        Email: <input type="text" th:name="email" placeholder="email" /> <p>
        Nick: <input type="text" th:name="login" placeholder="login" /> <p>
        Password: <input type="password" th:name="password" placeholder="password"> <p>
        Repeat password: <input type="password" th:name="repeatPassword" placeholder="password"> <p>
        <input type="submit" value="Wyślij">
    </form>

    <p th:if="${message} != null" th:text="${message}">

</body>
</html>